*{
    box-sizing : border-box;
    padding : 0;
    margin : 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    outline: none;
    border : none;
    background-color: transparent;
    cursor: pointer;
}

:root{
    --blue-color :  #10316b;
    --orange-color : #f07b3f;
}

/**Header part of the project starts here**/

header{
    background-color : white;
    z-index: 2;
}

.nav-bar{
    padding : 8px 15px;
    display : flex;
    justify-content: space-between;
    box-shadow: 2px 2px 4px 2px rgb(236, 236, 236);
}

.title-bar{
    text-decoration: none;
    font-size : 24px;
    font-weight : 600;
    color : var(--blue-color);
}

.navbar-toggler{
    transform: scale(1.5,1);
    padding : 0px 5px;
    font-size : 17px;
    color : rgb(59, 59, 59);
}

.navbar-toggler .fa{
    pointer-events: none;
}

.navbar-links{
    position : absolute;
    background-color : rgba(0,0,0,0.9);
    height : 100vh;
    width : 100vw;
    top : 0;
    left : 0;
    z-index : 1;
    opacity : 0;
    transition : all ease 0.8s;
    pointer-events: none;
    display : flex;
    justify-content: space-between;
}

.navbar-links .menu{
    background-color: rgba(0,0,0,0.7);
    list-style-type:none;
    padding : 8px 15px;
    width : 0%;
    opacity : 0;
    transition : all ease 0.5s;
}

.navbar-links li{
    padding : 8px 0px;
}

.navbar-links a{
    color : white;
    font-size : 17px;
    text-decoration: none;
    cursor: pointer;
}

.navbar-links .menu.showing{
    width: 50vw;
    opacity : 1;
}

.navbar-links.showing{
    opacity : 1;
    pointer-events: all;
}

.close-button{
    color : white;
    font-size : 24px;
    align-self: flex-start;
    padding : 8px 15px;
}

.navbar-links a , .close-button{
    transition :  all ease 0.5s;
}

.close-button:hover,.navbar-links a:hover{
    color : rgb(189, 189, 189);
}

/**The main part of the project starts here**/

.back-to-top{
    background-color : var(--blue-color);
    font-size : 24px;
    padding : 5px;
    color : white;
    position : fixed;
    bottom : 2%;
    right : 4%;
    transform: scale(1.3,1);
    transition : all ease 0.5s;
}

.back-to-top:hover{
    background-color: #216aca;
}

.landing-page{
    text-align : center;
    padding : 35px 15px 70px;
    position : relative;
}

.landing-page::after{
    content :'';
    background : url("pics/landingbackground.jpeg");
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    right: 0;
    opacity: 0.2;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
}

.landing-page h1{
    padding : 25px 0px 60px;
    color : rgb(66, 66, 66);
}

.landing-page a{
    font-size : 24px;
    text-decoration: none;
    color : white;
    background-color: var(--blue-color);
    padding : 8px;
    transition : all ease 0.5s;
}

.landing-page a:hover{
    background-color: transparent;
    border : 2px solid var(--blue-color);
    color : var(--blue-color)
}

.orange-text{
    color : var(--orange-color);
}